# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

#Tyepscript output directory
dist
