<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/deepstream.io-client-js/2.1.1/deepstream.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
        crossorigin="anonymous"></script>        
        <script>
            	//establish a connection. You can find your endpoint url in the
	            //deepstreamhub dashb
                const ds = deepstream( 'localhost:6020' );

                //display the connection state at the top
                ds.on( 'connectionStateChanged', function( connectionState ){
                    $( '#connection-state' ).text( connectionState );
                })
                
                //authenticate your connection. We haven't activated auth,
                //so this method can be called without arguments
                ds.login();
        </script>
    </head>
<body>
<h1> Hello </h1>

<div class="group connectionState">
		Connection-State is: <em id="connection-state">INITIAL</em>
</div>

</body>
</html>